<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="firstSuit" verbose="1">
	<test name="TestClass">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.test.TestClass">
				<methods>
					<include name="OrderManagement" />
					<exclude name="directDebitCancel"/>
					<exclude name="directDebitDelete"/>
				</methods>
			</class>
		</classes>
	</test>
</suite>
